.container {
    max-width: 1400px;
    padding: 0 40px;
}

/* fonts */
.fs-24 {
    font-size: 24px;
}
.fs-20 {
    font-size: 20px;
}
.fs-18 {
    font-size: 18px;
}
.fs-16 {
    font-size: 16px;
}
.fs-14 {
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0 20px;
    }
}
