.section {
    margin-top: 80px;
}

.container {
    max-width: 1400px;
    padding: 0 40px;
}

/* button */
.btn-primary {
    background-color: var(--blue) !important;
}

.btn-outline-primary {
    border-color: var(--blue) !important;
    color: var(--blue) !important;
}

/* text */
.text-primary {
    color: var(--blue) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

/* bg */
.bg-primary {
    background-color: var(--blue) !important;
}

.border-light {
    border-color: var(--line) !important;
}

/* fonts */
.heading3 {
    font-size: 32px;
    font-weight: 600;
}

.heading4 {
    font-size: 24px;
    font-weight: 600;
}

.section-desc {
    font-size: 20px;
    color: var(--secondary);
}

.fs-24 {
    font-size: 24px;
}

.fs-20 {
    font-size: 20px;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

@media screen and (max-width: 1199px) {
    .section {
        margin-top: 40px;
    }

    .heading3 {
        font-size: 20px;
    }

    .heading4 {
        font-size: 20px;
    }

    .section-desc {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {

    html,
    body {
        font-size: 14px;
    }

    .section {
        margin-top: 32px;
    }

    .container {
        padding: 0 20px;
    }

    .heading3 {
        font-size: 18px;
    }

    .heading4 {
        font-size: 18px;
    }

    .section-desc {
        font-size: 14px;
    }

    .fs-24 {
        font-size: 20px;
    }

    .fs-20 {
        font-size: 16px;
    }

    .fs-18 {
        font-size: 14px;
    }
}