.container {
    max-width: 1400px;
    padding: 0 40px;
}

/* button */
.btn-primary {
    background-color: var(--blue) !important;
}

.btn-outline-primary {
    border-color: var(--blue) !important;
    color: var(--blue) !important;
}

/* text */
.text-primary {
    color: var(--blue) !important;
}

/* bg */
.bg-primary {
    background-color: var(--blue) !important;
}

/* fonts */
.fs-24 {
    font-size: 24px;
}
.fs-20 {
    font-size: 20px;
}
.fs-18 {
    font-size: 18px;
}
.fs-16 {
    font-size: 16px;
}
.fs-14 {
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    html,
    body {
        font-size: 14px;
    }
    .container {
        padding: 0 20px;
    }
    .fs-24 {
        font-size: 20px;
    }
    .fs-20 {
        font-size: 18px;
    }
    .fs-18 {
        font-size: 16px;
    }
}
