/* popup */
.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: all ease 0.4s;
}

.popup:has(>.open) {
    visibility: visible;
    opacity: 1;
}

.popup:hover {
    cursor: zoom-out;
}

.popup-item {
    display: none;
    background-color: var(--white);
    cursor: default;
}

.popup-item.open {
    display: block;
}

.popup-filter {
    overflow-x: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 394px;
    height: 100%;
    max-height: 100vh;
}